body {
    height: 100vh;
    font-size: xx-large;
    background: linear-gradient(to right, #dc2424, #4a569d);
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.dooz {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 10px;
}
.dooz button {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 150px;
    font-size: 160px;
    background-color: white;
    border: none;
    border-radius: 5px;
}
.dooz button:hover {
    background-color: rgb(214, 214, 214);
}
.b,
.e,
.h {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}
.d,
.e,
.f {
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
}
.cdooz {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.befor p {
    /** TEXT GRADIENT */
    color: #ffffff;
    background-image: -webkit-linear-gradient(0deg, #ffffff 9%, #db00cd 75%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.agine button {
    width: 190px;
    height: 190px;
    border-radius: 500px;
    background-color: blueviolet;
    color: white;
    font-size: x-large;
    border: none;
}
.agine button:hover {
    background-color: rgb(159, 83, 230);
}
#refresh {
    padding: 20px;
    border-radius: 100px;
}
@media screen and (max-width: 980px) {
    .cdooz {
        flex-direction: column;
        gap: 10px;
    }
    .dooz {
        grid-template-columns: repeat(3, 140px);
    }
}
