body {
    height: 100vh;
    margin: 0;
    font-size: 5vmin;
    background: linear-gradient(to right, #dc2424, #4a569d);
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.dooz {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    gap: 10px;
}
.dooz button {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20vmin;
    width: 20vmin;
    font-size: 20vmin;
    background-color: white;
    border: none;
    border-radius: 5px;
}
.dooz button:hover {
    background-color: rgb(214, 214, 214);
}
.b,
.e,
.h {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}
.d,
.e,
.f {
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
}
.cdooz {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.befor p {
    /** TEXT GRADIENT */
    color: #ffffff;
    background-image: -webkit-linear-gradient(0deg, #fcc245 9%, #fa7ef2 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.clear button {
    width: 30vmin;
    height: 10vmin;
    background: linear-gradient(to right, #e96443, #904e95);
    color: white;
    font-size: 5vmin;
    border: none;
    border-radius: 10px;
    transition: opacity 0.1s linear;
    opacity: 0.8;
}
.clear button:hover {
    opacity: 1;
}
.again {
    background: linear-gradient(to right, #e96443, #904e95);
    padding: 20px;
    border-radius: 100px;
    color: white;
    font-size: 4vmin;
    border: none;
    margin-top: 30px;
    opacity: 0.8;
    transition: opacity 0.1s linear;

}
.again:hover{
    opacity: 1;
}
.befor p {
    margin: 10px 0px;
}
#demo{
    color: white;
}
@media screen and (max-width: 980px) {
    .cdooz {
        flex-direction: column;
        gap: 10px;
    }
    .dooz {
        grid-template-columns: repeat(3, 23vmin);
        gap: 5px;
    }
    .dooz button {
        width: 23vmin;
        height: 23vmin;
    }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
    .container {
        justify-content: start;
    }
    .dooz button {
        width: 23vmin;
        height: 23vmin;
    }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
    .dooz button {
        width: 25vmin;
        height: 25vmin;
    }
    .dooz {
        grid-template-columns: repeat(3, 25vmin);
    }
}
