body {
    height: 100vh;
    font-size: xx-large;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.dooz {
    
    display: grid;
    grid-template-columns: repeat(3, 150px);
}
.dooz button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 160px;
    background-color: white;
    border: none;
}
.dooz button:hover {
    background-color: rgb(214, 214, 214);
}
.b,
.e,
.h {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}
.d,
.e,
.f {
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
}
